body
{
	padding-left: 15em;
	font-family: Arial, "Times New Roman", Times, serif;
	padding-right: 8em;
	background-image: url("../images/bgd.jpg") ;
}

div.scroll-container {background-color: #333;
overflow: auto;
white-space: nowrap;
padding: 10px;
}

div.scroll-container img {
padding: 10px;
}

.center {
	margin: 50;
	width: 60%;
	border: 3px solid #000000;
	padding: 10px;
  }

  .tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }

h1
{
		font-family: Geneva, Helvetica, Arial, sans-serif;
		color: rgb(129, 16, 16, 0.99);		
}
h2
{
				color: red;
}

p{
				color: #ffffff;
				margin-left: 10;
				margin-right: 15;
				padding-right: 45px;
}
a{
				color: #b20000eb;
}
ul
{
		font-family: Geneva, Helvetica, Arial, sans-serif;
}

ul.navbar
{
	list-style-type: none;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em;
}

ul.navbar li
{
	background: rgb(255, 255, 255);
	color: rgba(2, 39, 131, 0.951);
	font-style: bold;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em solid rgba(129, 16, 16, 0.99);
}

a:link
{
	color : #271401;
}

img.textwrap
{
	float: right;
	margin:10px;
}
